.inputsContainer {
	min-width: 320px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}


.textInput {
	font-size: larger;
	padding: 10px;
	flex-grow: 4;
    width: auto;
	min-width: 300px;
}
